<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <parameter name="day" value="${day}" />
    <parameter name="URL" value="${URL}" />
    <test name="Zoe Technical Test">
        <classes>
            <class name="core.ScheduleRunner"/>
        </classes>
    </test>
</suite>